@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* ### Primary

- Green: hsl(75, 94%, 57%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 20%)
- Dark Grey: hsl(0, 0%, 12%)
- Off Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 14px */

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

.card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
}

.image {
  width: 75px;
  border-radius: 50%;
  margin-top: -10px;
}

.name {
  margin-top: 25px;
  font-size: 1.45rem;
}

.location {
  color: hsl(75, 94%, 57%);
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.content {
  font-size: 0.8rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

button {
  border: none;
  color: white;
  background-color: hsl(0, 0%, 20%);
  margin-top: 15px;
  font-weight: 600;
  padding: 12px 80px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}
